* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 37.5em) {
  html {
    font-size: 52.5%;
  }
}
@media (max-width: 31.25em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  height: 100vh;
  padding: 0 2rem;
  background-color: #F1FAEE;
}
@media (max-width: 31.25em) {
  body {
    padding: unset;
  }
}

#root {
  height: 100%;
}

.mb-small {
  margin-bottom: 1rem;
}

.mb-medium {
  margin-bottom: 2rem;
}

.mb-large {
  margin-bottom: 3rem;
}

.fw-unset {
  font-weight: unset;
}

body {
  color: #1D3557;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 8.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media (max-width: 56.25em) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 3.6rem;
}
@media (max-width: 56.25em) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: underline;
  margin-bottom: 2rem;
}
@media (max-width: 56.25em) {
  h3 {
    font-size: 1.5rem;
  }
}

.screen-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.4rem;
}

a {
  color: #457B9D;
  text-decoration: unset;
  background-color: unset;
  border: unset;
  font-weight: 600;
  cursor: pointer;
}

.no-underline {
  text-decoration: none;
}

.error {
  color: #E63946;
  font-size: 1.2rem;
}

.nav {
  position: relative;
  width: 100%;
  z-index: 1000;
}
.nav__container {
  display: flex;
  justify-content: center;
  width: 33.33%;
  margin: 0 auto;
  padding: 2rem;
  background-color: #457B9D;
  border-radius: 0 0 20px 20px;
}
@media (max-width: 37.5em) {
  .nav__container {
    width: 100%;
  }
}
.nav__item:not(:last-child) {
  margin-right: 2rem;
}
.nav__link {
  font-size: 2rem;
  color: #F1FAEE;
}
.nav__link.router-link-active {
  color: #A8DADC;
}

.button {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font: inherit;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
}
.button__regular {
  border: 2px solid #1D3557;
  padding: 1rem;
}
.button__contact {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  margin: 2rem;
  transition: all 0.9s;
}
.button__contact:hover {
  box-shadow: unset;
  transform: scale(0.9);
}
.button__contact-link,
.button__contact span {
  color: #1D3557;
  font-size: 5rem;
  line-height: 0;
}
.button__portfolio {
  background-color: #F1FAEE;
  color: #457B9D;
  padding: 1rem 2rem;
  margin: 4rem 2rem;
  border-radius: 10px;
}

@media (max-width: 56.25em) {
  .button__contact {
    height: 7rem;
    width: 7rem;
    box-shadow: unset;
    margin: unset;
    background-color: unset;
    border-radius: unset;
  }
  .button__contact-link,
  .button__contact span {
    font-size: 4rem;
  }
}
.tech {
  margin-bottom: 4rem;
}
.tech__icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  width: 66.66%;
  margin: 0 auto;
}
@media (max-width: 37.5em) {
  .tech__icons {
    width: 83.33%;
  }
}
.tech__icon {
  display: flex;
  flex-direction: column;
  width: 15%;
  padding: 2rem;
}
@media (max-width: 37.5em) {
  .tech__icon {
    padding: unset;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
}
.tech__icon-container {
  width: 100%;
}
.tech__icon svg {
  width: 90%;
  margin-bottom: 1rem;
}
@media (max-width: 37.5em) {
  .tech__icon svg {
    width: 100%;
  }
}

.form {
  background-color: #A8DADC;
  width: 50%;
  height: 30rem;
  margin: 10rem auto;
  border-radius: 20px;
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
@media (max-width: 37.5em) {
  .form {
    width: 83.33%;
    padding: 0 2rem;
  }
}
.form input,
.form textArea {
  padding: 1rem;
  border-radius: 10px;
  border: none;
  font-family: inherit;
}
.form__list {
  display: flex;
}
.form__list-item {
  background-color: #F1FAEE;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border-radius: 1rem;
  text-transform: capitalize;
}
.form__portfolio {
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 37.5em) {
  .form__portfolio {
    padding: 2rem;
  }
}
.form__portfolio input,
.form__portfolio textArea {
  margin-bottom: 2rem;
}
.form__portfolio p {
  display: inline-block;
}
.form__portfolio span {
  margin: 0 2rem;
}
.form__thumbnails {
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
}
.form__thumbnail {
  width: 10rem;
  height: 10rem;
  margin-right: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}
.form__thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.form__thumbnail button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #E63946;
  color: #F1FAEE;
  border: none;
  padding: 0.5rem;
  border-radius: 0 1rem 0 1rem;
}
.form__contact .form {
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 37.5em) {
  .form__contact .form {
    padding: 2rem;
  }
}
.form__contact .form input,
.form__contact .form textarea,
.form__contact .form button {
  margin-bottom: 4rem;
}
.form__contact-links {
  display: flex;
  margin: 0 auto;
}

.messages {
  margin: 5rem 25%;
  background-color: #9FBADF;
  padding: 5rem 10rem;
}
@media (max-width: 56.25em) {
  .messages {
    padding: 5rem 2.5rem;
    margin: 5rem 2rem;
  }
}
.messages h2 {
  text-align: center;
  margin-bottom: 5rem;
}
.messages .name {
  font-weight: bold;
}
.messages .email {
  font-style: italic;
}
.messages .content {
  margin-top: 10px;
}
.messages .read {
  color: green;
  margin-top: 2rem;
}
.messages .unread {
  color: red;
  margin-top: 2rem;
}

.message {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 2rem;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10rem 10rem;
  margin-bottom: 4rem;
}
@media (max-width: 56.25em) {
  .home {
    flex-direction: column;
    padding: 2rem 2rem;
  }
}
.home__header {
  width: 66.66%;
  padding: 4rem;
}
@media (max-width: 56.25em) {
  .home__header {
    width: 100%;
  }
}
.home__header-title {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
.home__header h2 {
  margin-bottom: 1rem;
}
.home__header h3 {
  text-transform: none;
}
.home__contact {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 56.25em) {
  .home__contact {
    flex-direction: row;
    width: 83.33%;
    margin: 0 auto;
    margin-top: 2rem;
  }
}

.about__image {
  width: 41.66%;
  background-color: #A8DADC;
  padding: 4rem;
}
@media (max-width: 56.25em) {
  .about__image {
    padding: unset;
    width: 100%;
    background-color: unset;
    margin-bottom: 2rem;
  }
}
@media (max-width: 56.25em) {
  .about__image img {
    width: 100%;
  }
}
.about__header {
  display: flex;
  width: 83.33%;
  justify-content: space-around;
  margin: 5rem;
}
@media (max-width: 56.25em) {
  .about__header {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 4rem 0;
  }
}
.about__header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.about img {
  width: 100%;
  height: auto;
}
.about__content {
  width: 100%;
}
.about__content-title {
  height: 20rem;
  min-width: 30rem;
  max-width: 30rem;
  padding: 2rem;
}
@media (max-width: 56.25em) {
  .about__content-title {
    height: unset;
    min-width: unset;
    max-width: unset;
    padding: 2.5rem;
  }
}
.about__content-text {
  padding: 1rem 5rem;
  margin-left: 2rem;
}
.about__content-text p {
  margin-bottom: 2rem;
}
.about__content-section {
  display: flex;
  margin-bottom: 4rem;
  width: 100%;
}
@media (max-width: 56.25em) {
  .about__content-section {
    flex-direction: column;
  }
}

.portfolio__preview {
  background-color: #9FBADF;
  display: flex;
  flex-direction: row;
  padding: 5rem 10rem;
  margin: 4rem;
  border-radius: 20px;
}
@media (max-width: 56.25em) {
  .portfolio__preview {
    flex-direction: column-reverse;
    padding: unset;
    margin: 2rem;
  }
}
.portfolio__preview-title {
  cursor: pointer;
  letter-spacing: 2px;
}
.portfolio__preview-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-right: 1rem;
}
@media (max-width: 56.25em) {
  .portfolio__preview-content {
    padding: 2rem;
    width: unset;
  }
}
.portfolio__preview-tech {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.portfolio__preview-links {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.portfolio__preview-image {
  display: block;
  width: 100%;
  margin: auto;
  border-radius: 20px;
}
@media (max-width: 56.25em) {
  .portfolio__preview-image {
    border-radius: unset;
  }
}
.portfolio__preview-imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding: 2rem;
  border-radius: 20px;
}
@media (max-width: 56.25em) {
  .portfolio__preview-imageContainer {
    width: 100%;
    padding: 4rem 0;
  }
}
.portfolio__preview-description {
  margin-bottom: 2rem;
}

.crosses {
  margin: 0 auto;
}
.crosses__header {
  background-color: #9FBADF;
  padding: 2rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 2rem;
}
.crosses__header > * {
  width: 33%;
}
@media (max-width: 56.25em) {
  .crosses__header {
    padding: 2rem 4rem;
    justify-content: space-between;
  }
  .crosses__header h3 {
    display: none;
  }
}
.crosses__score {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.crosses__score-scores {
  background-color: white;
  padding: 1rem 2rem;
  height: 100%;
  font-size: 3rem;
  font-weight: 800;
  margin: 1rem 2rem;
}
.crosses__score-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.crosses__score-divider {
  font-size: 2rem;
}
.crosses__controls {
  display: flex;
  justify-content: center;
}
.crosses__board {
  max-width: 50rem;
  height: 50rem;
  margin: 4rem auto;
  width: 100vw;
}
.crosses__board-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 33%;
}
.crosses__board-square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 33%;
  border: 1px solid black;
}
.crosses__board-char {
  font-size: 8rem;
}

.todo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #302622;
  padding: 10rem 5rem;
}
@media (max-width: 56.25em) {
  .todo {
    padding: 10rem 2rem;
  }
}
.todo .header {
  color: #334368;
  font-family: "Merienda", cursive;
  text-align: center;
  margin-bottom: 2rem;
}
.todo .body {
  color: #334368;
  font-family: "Caveat", cursive;
}
.todo__book {
  position: relative;
  z-index: 2000;
  display: flex;
  height: 100%;
  width: 100%;
}
@media (max-width: 56.25em) {
  .todo__book {
    flex-direction: column;
  }
}
.todo__page {
  background-color: #ecedf0;
  padding: 2rem;
  border-radius: 20px 0 0 20px;
  margin-left: 1rem;
  height: 100%;
  width: 50%;
  overflow: auto;
}
.todo__page:not(:first-child) {
  border-radius: 0 20px 20px 0;
}
@media (max-width: 56.25em) {
  .todo__page {
    width: 100%;
    border-radius: 20px;
    margin: unset;
  }
  .todo__page:not(:first-child) {
    border-radius: 20px;
    margin-top: 2rem;
  }
}
.todo .form__todo {
  display: flex;
  flex-direction: column;
}
.todo .form__todo input,
.todo .form__todo textarea,
.todo .form__todo option,
.todo .form__todo select {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  background-color: white;
}
.todo .form__todo-div {
  display: flex;
  justify-content: space-between;
}
.todo .form__todo-div input {
  width: 50%;
}
@media (max-width: 56.25em) {
  .todo .form__todo-div {
    flex-direction: column;
  }
  .todo .form__todo-div input {
    width: 100%;
  }
}
.todo__show-container {
  position: relative;
  width: 100%;
  margin-bottom: 4rem;
}
.todo__show-subContainer {
  display: flex;
  width: 100%;
}
.todo__show .header {
  cursor: pointer;
  text-transform: capitalize;
  text-align: left;
}
.todo__show-importance {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 2rem;
}
.todo__show-importance div {
  width: 100%;
  height: 100%;
}
.todo__show-icon {
  margin: 0 2rem;
}
.todo__show-icon span {
  font-size: 4rem;
  margin-right: 2rem;
}
.todo__show-date {
  margin: 0 2rem 0 auto;
}
.todo button {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #334368;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 1rem;
}/*# sourceMappingURL=main.css.map */